body {
font-family: Arial, sans-serif;
background-color: #f2f9ff;
margin: 0;
padding: 0;
color: #333;
}


header {
background-color: #5cbcf6;
color: white;
text-align: center;
padding: 20px;
}


h1, h2, h3 {
margin: 10px 0;
}


.intro, .characters, .gallery {
text-align: center;
padding: 20px;
}


.poster {
width: 80%;
border: 2px solid #5cbcf6;
border-radius: 10px;
margin-top: 10px;
}


.characters {
    text-align: center;
}

.characters .char-card {
    display: inline-block;
    margin: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    vertical-align: top;
}


.char-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 200px; /* กำหนดขนาดกล่องให้เท่ากัน */
    height: 300px; /* fix ความสูง */
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.char-card img {
    width: 100%;
    height: 180px; /* fix ความสูงของรูป */
    object-fit: cover; /* ทำให้ภาพไม่ยืดแต่ยังเต็มกล่อง */
    border-radius: 8px;
}


.gallery img {
margin: 5px;
border-radius: 5px;
border: 1px solid #ccc;

object-fit: cover;
width: 200px;
height: 150px;
}


footer {
background-color: #5cbcf6;
color: white;
text-align: center;
padding: 10px;
margin-top: 20px;
}